In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [15]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le = LabelEncoder()

In [18]:
def DATAFRAME(df):
    for column in df.columns:
        df[column] = le.fit_transform(df[column])
    return df

In [19]:
DATAFRAME(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      0              8            14              4             1        0
1      1              6             9              4             1        0
2      2              4            11              3             1        0
3      3              3            10              5             1        0
4      4              7            15              4             1        0
..   ...            ...           ...            ...           ...      ...
145  145             24             9             28            19        2
146  146             20             4             26            15        2
147  147             22             9             28            16        2
148  148             19            13             30            19        2
149  149             16             9             27            14        2

[150 rows x 6 columns]

In [20]:
X = df.drop('Species', axis=1)

In [21]:
Y = df['Species']

In [22]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier

from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn import tree

In [23]:
kfold = KFold(n_splits=6, shuffle=True, random_state=42)

In [26]:
folds_accuracy_svm = []
folds_accuracy_knn = []
folds_accuracy_lr = []
folds_accuracy_bbn = []
folds_accuracy_dtc = []

In [ ]:
# train models
model_svm = svm.SVC()
model_knn = KNeighborsClassifier()
model_lr = LogisticRegression()
model_bbn = GaussianNB()
model_dtf = tree.DecisionTreeClassifier()

model_svm.fit(x_train, y_train)
model_knn.fit(x_train, y_train)
model_lr.fit(x_train, y_train)
model_bbn.fit(x_train, y_train)
model_dtf.fit(x_train, y_train)

folds_accuracy_svm.append(model.score(x_test, y_test))
folds_accuracy_knn.append(model.score(x_test, y_test))
folds_accuracy_lr.append(model.score(x_test, y_test))
folds_accuracy_bbn.append(model.score(x_test, y_test))
folds_accuracy_dtf.append(model.score(x_test, y_test))

average_accuracy_svc = np.mean(folds_accuracy_svm)
average_accuracy_svc = np.mean(folds_accuracy_knn)
average_accuracy_svc = np.mean(folds_accuracy_lr)
average_accuracy_svc = np.mean(folds_accuracy_bbn)
average_accuracy_svc = np.mean(folds_accuracy_dtc)